<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

    <% if user_signed_in? %>

    <!-- if user is signed in & user is admin, display links for CRUD -->
      <% if current_user.admin? %>
          <%= link_to 'Planes', planes_path %>
          <%= link_to 'Flights', flights_path %>
      <% end %>
      <%= link_to 'Home', root_url %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Settings', edit_user_registration_path %> |
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>    
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Log in", new_user_session_path %>
    <% end %>

    <%= yield %>
  
  </div>    

</body>
</html>



